.catalog {
  margin-bottom: 133px;

  @include tablet {
    margin-bottom: 80px;
  }

  &__content {
    margin-top: 43px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;

    @include tablet {
      grid-template-columns: repeat(1, 1fr);
      gap: 15px;
    }
  }

  &__item {
    border: 1px solid #eaeaea;
    max-width: 302px;
    width: 100%;
    transition: all .3s ease-in-out;

    @include tablet {
      max-width: 500px;
    }


    img {
      height: 234px;
      display: block;
      margin: 0 auto;
      margin-top: 20px;
      margin-bottom: 14px;

    }

    &--type {
      img {
        height: 128px;
      }
    }

    &:hover {
      box-shadow: 0 0 30px 0 rgba(255, 201, 79, 0.3);

      .catalog__btn {
        background: #fff450;
        color: #000;
      }

      .catalog__price {
        color: #cf0953;
      }

      svg {
        path {
          fill: #cf0953;
        }
      }
    }
  }

  &__inner {
    padding: 0 22px;

    &--accent {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 307px;
    }

  }

  &__name {
    margin: 0;
    margin-bottom: 13px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    line-height: 157%;
    color: #535353;
  }

  &__text {
    margin: 0;
    margin-bottom: 30px;
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 14px;
    line-height: 150%;
    color: #8c8c8c;
  }

  &__price {
    margin: 0;
    margin-bottom: 27px;
    display: flex;
    gap: 10px;
    align-items: baseline;
    font-family: var(--font-family);
    font-weight: 700;
    @include fluid-text(20, 16);
    line-height: 105%;
    color: #535353;
    transition: all .3s ease-in-out;

    svg {
      path {
        transition: all .3s ease-in-out;
      }
    }
  }

  &__btn {
    width: 100%;
    padding: 19px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    background: #3d4f64;
    transition: all .3s ease-in-out;
  }
}


.tabs {
  &__nav {
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;

  }

  &__nav-btn {
    padding: 5px 15px;
    background: #f9f9f9;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 135%;
    color: #000;
    transition: all .3s ease-in-out;

    &--active {
      background: #fffcd0;
    }
  }

  &__panel {
    display: none;

    &--active {
      display: block;
    }
  }
}
