.header {
  position: relative;
  z-index: 3;

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0 18px 0;
  }

  &__logo {
    display: flex;
    gap: 30px;
    align-items: center;
  }

  &__logo-link {
    font-family: var(--font4);
    font-weight: 900;
    font-size: 36px;
    line-height: 110%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #cf0953;
  }

  &__logo-text {
    max-width: 300px;
    margin: 0;
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 12px;
    color: #3a3a3a;
  }

  &__select {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  &__select-item {
    margin: 0;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    color: #242c3c;
  }

  &__phone {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 24px;
    text-align: right;
    color: #3a3a3a;
  }

  &__box-text {
    margin: 0;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    color: #3a3a3a;
    text-align: right;

    span {
      font-weight: 700;
      text-decoration: underline;
      text-decoration-skip-ink: none;
      color: #cf0953;
    }
  }

  &__nav {
    padding: 16px 0;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: #fff450;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__link {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    line-height: 114%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #3a3a3a;
    transition: all .3s ease-in-out;

    &--accent {
      color: #cf0953;
    }

    &:hover {
      color: #cf0953;
    }
  }

  &__btn {
    cursor: pointer;
  }
}
