<section class="about">
  <div class="container">
    <h2 class="section-title">
      Почему мы?
    </h2>

    <ul class="list-reset about__list">
      <li class="about__item">
        <img loading="lazy" src="img/about-1.webp" class="image" width="285" height="195" alt="img">
        <div class="about__inner">
          <p class="about__subtitle">
            Оригинальная продукция
          </p>
          <p class="about__text">
            Полотна гиппоаллергенны,
            проверены ФГБУЗ ГЦГЭ ФМБА
            России
          </p>
        </div>
      </li>
      <li class="about__item">
        <img loading="lazy" src="img/about-2.webp" class="image" width="285" height="195" alt="img">
        <div class="about__inner">
          <p class="about__subtitle">
            Квалифицирован<br>ные монтажники
          </p>
          <p class="about__text">
            Граждане РФ, прошедшие
            обучение и имеют опыт
            работы более 10 лет
          </p>
        </div>
      </li>
      <li class="about__item">
        <img loading="lazy" src="img/about-3.webp" class="image" width="285" height="195" alt="img">
        <div class="about__inner">
          <p class="about__subtitle">
            Чистота <br>
            и порядок
          </p>
          <p class="about__text">
            Используем перфораторы
            с пылесосом и безопасные
            (композитные) газовые
            баллоны, убираем за собой
            мусор и пыль
          </p>
        </div>
      </li>
      <li class="about__item">
        <img loading="lazy" src="img/about-4.webp" class="image" width="285" height="195" alt="img">
        <div class="about__inner">
          <p class="about__subtitle">
            СКИДКИ <br> И АКЦИИ
          </p>
          <p class="about__text">
            В нашей компании действует
            программа лояльности,
            Вы можете получать % от
            сделок с приведенных клиентов
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
