<section class="feedbeack">
  <div class="container">
    <h2 class="section-title">
      Отзывы
    </h2>
    <div class="feedbeack__wrapper">
      <div class="swiper feedbeack__swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="feedbeack__item">
              <img loading="lazy" src="img/feedbeack.webp" class="image" width="425" height="420" alt="img">
              <div class="feedbeack__inner">
                <p class="feedbeack__name">
                  Сергей <br>
                  вид работ
                </p>
                <p class="feedbeack__text">
                  Большое спасибо, за профессионализм и компетентность. Порадовало качество окон и монтажа, а главное
                  сервис на уровне.
                  Очень приятно было, что на каждом этапе мне отзванивались ваши специалисты, перед замером, после замера,
                  перед
                  доставкой, перед монтажом, после монтажа, спрашивали – все ли у меня в порядке, все ли понравилось,
                  всегда согласовывали
                  время. Я постоянно была в курсе, что и как происходит с моими окнами. Удачи вам и процветания!
                </p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="feedbeack__item">
              <img loading="lazy" src="img/feedbeack.webp" class="image" width="425" height="420" alt="img">
              <div class="feedbeack__inner">
                <p class="feedbeack__name">
                  Сергей <br>
                  вид работ
                </p>
                <p class="feedbeack__text">
                  Большое спасибо, за профессионализм и компетентность. Порадовало качество окон и монтажа, а главное
                  сервис на
                  уровне.
                  Очень приятно было, что на каждом этапе мне отзванивались ваши специалисты, перед замером, после замера,
                  перед
                  доставкой, перед монтажом, после монтажа, спрашивали – все ли у меня в порядке, все ли понравилось,
                  всегда
                  согласовывали
                  время. Я постоянно была в курсе, что и как происходит с моими окнами. Удачи вам и процветания!
                </p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="feedbeack__item">
              <img loading="lazy" src="img/feedbeack.webp" class="image" width="425" height="420" alt="img">
              <div class="feedbeack__inner">
                <p class="feedbeack__name">
                  Сергей <br>
                  вид работ
                </p>
                <p class="feedbeack__text">
                  Большое спасибо, за профессионализм и компетентность. Порадовало качество окон и монтажа, а главное
                  сервис на
                  уровне.
                  Очень приятно было, что на каждом этапе мне отзванивались ваши специалисты, перед замером, после замера,
                  перед
                  доставкой, перед монтажом, после монтажа, спрашивали – все ли у меня в порядке, все ли понравилось,
                  всегда
                  согласовывали
                  время. Я постоянно была в курсе, что и как происходит с моими окнами. Удачи вам и процветания!
                </p>
              </div>
            </div>
          </div>
        </div>

      </div>
      <button class="btn-reset feedbeack__prev">
        <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M7 13L1 7L7 1" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </button>
      <button class="btn-reset feedbeack__next">
        <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1 13L7 7L1 1" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </button>
    </div>

  </div>
</section>
