<footer class="footer">
  <div class="container">
    <div class="footer__content">
      <div class="footer__logo">
        <a href="#" class="footer__logo-title">
          ЛИДЕР ПЛЮС
        </a>
        <p class="footer__logo-text">
          Производство находится в г.Курск. <br> Поставка, сборка и выезд специалистов по всей Курской области
        </p>
        <a class="footer__socials">
          <img loading="lazy" src="img/vk.svg" class="image" width="26" height="26" alt="svg">
        </a>
      </div>

      <div class="footer__contacts">
        <a href="#" class="footer__contacts-link">Телефон: 8(906) 692-62-05</a>
        <a href="#" class="footer__contacts-link">Email: liderkursk@mail.ru</a>
        <a href="#" class="footer__contacts-link">г. Курск, ул. Харьковская, 3</a>
        <button class="btn-reset footer__btn" data-graph-path="modal">Заказать звонок</button>
      </div>
      <ul class="list-reset footer__nav">
        <li class="footer__item">
          <a href="/" class="footer__link">Окна</a>
        </li>
        <li class="footer__item">
          <a href="/" class="footer__link">Двери</a>
        </li>
        <li class="footer__item">
          <a href="/" class="footer__link">Балконы</a>
        </li>
        <li class="footer__item">
          <a href="/" class="footer__link">Натяжные потолки</a>
        </li>

        <li class="footer__item">
          <a href="/" class="footer__link">Контакты</a>
        </li>
        <li class="footer__item">
          <a href="/" class="footer__link">Политика обработки персональных данных</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
