<section class="form">
  <div class="container">
    <div class="form__wrapper">
      <div class="form__content">
        <h2 class="form__title">
          ВЫЗОВИТЕ ЗАМЕРЩИКА ИЛИ <br>
          ПОЛУЧИТЕ БЕСПЛАТНУЮ КОНСУЛЬТАЦИЮ
        </h2>

        <div class="form__inner">
          <input type="text" name="Имя" class="input-reset form__input" placeholder="Ваше имя">
          <input type="email" name="Имя" class="input-reset form__input" placeholder="E-mail">
          <div class="form__box">
            <div class="form__item">
              <input type="radio" name="category" id="option1" class="input-reset form__radio">
              <label for="option1">Окна пластиковые</label>
            </div>
            <div class="form__item">
              <input type="radio" name="category" id="option2" class="input-reset form__radio">
              <label for="option2">Остекление балкона</label>
            </div>
            <div class="form__item">
              <input type="radio" name="category" id="option3" class="input-reset form__radio">
              <label for="option3">Натяжной потолок</label>
            </div>
            <div class="form__item">
              <input type="radio" name="category" id="option4" class="input-reset form__radio">
              <label for="option4">Двери межкомнатные</label>
            </div>
          </div>
          <div class="form__checkbox">
            <input type="checkbox" checked class="input-reset form__check">
            <span class="form__checkbox-text">
              Я согласен(на) на обработку
              <a href="#" class="form__checkbox-link">персональных данных</a>
            </span>
          </div>

          <button class="btn-reset form__btn">Отправить сообщение</button>
        </div>

      </div>
    </div>

  </div>
</section>
