<section class="form">
  <div class="container">
    <div class="form__wrapper ">
      <div class="form__content form__content--accent">
        <h2 class="form__title form__title--door">
        НЕТ НУЖНОГО ВАРИАНТА?
        </h2>
        <p class="form__descr">
          Оставьте заявку и мы вам посоветуем лучший вариант именно для вас
        </p>

        <div class="form__inner form__inner--accent">
          <input type="text" name="Имя" class="input-reset form__input" placeholder="Ваше имя">
          <input type="email" name="Имя" class="input-reset form__input" placeholder="E-mail">
          <select name="Вид двери" id="" class="input-reset form__input form__select" >
            <option value="Вид двери">Вид двери</option>
            <option value="Вид двери">Вид двери</option>
            <option value="Вид двери">Вид двери</option>
            <option value="Вид двери">Вид двери</option>
          </select>

          <div class="form__checkbox">
            <input type="checkbox" checked class="input-reset form__check">
            <span class="form__checkbox-text">
              Я согласен(на) на обработку
              <a href="#" class="form__checkbox-link">персональных данных</a>
            </span>
          </div>

          <button class="btn-reset form__btn form__btn--accent">Отправить сообщение</button>
        </div>

      </div>
    </div>

  </div>
</section>
