<section class="form">
  <div class="container">
    <div class="form__wrapper form__wrapper--window">
      <div class="form__content">
        <h2 class="form__title form__title--accent">
          <span>БЕСПЛАТНЫЙ ЗАМЕР</span> <br>
          в ближайшее/удобное для вас время
        </h2>

        <div class="form__inner">
          <input type="text" name="Имя" class="input-reset form__input" placeholder="Ваше имя">
          <input type="email" name="Имя" class="input-reset form__input" placeholder="E-mail">
          <div class="form__time">
            <input type="date" name="Имя" class="input-reset form__input" placeholder="дд.мм.гггг">
            <input type="time" name="Имя" class="input-reset form__input" placeholder="--:--">
          </div>
          <div class="form__checkbox">
            <input type="checkbox" checked class="input-reset form__check">
            <span class="form__checkbox-text">
              Я согласен(на) на обработку
              <a href="#" class="form__checkbox-link">персональных данных</a>
            </span>
          </div>

          <button class="btn-reset form__btn">Отправить сообщение</button>
        </div>

      </div>
    </div>

  </div>
</section>
