<header class="header">
  <div class="container">

    <div class="header__content">
      <div class="header__logo">
        <a href="/" class="header__logo-link">ЛИДЕР ПЛЮС</a>
        <p class="header__logo-text">
          Заказать пластиковые окна, балконы под ключ, натяжные потолки в Курске и Курской области.
        </p>
      </div>
      <div class="header__select">
        <svg width="15" height="20" viewBox="0 0 15 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M15 8.33301C15 14.1663 7.5 19.1663 7.5 19.1663C7.5 19.1663 0 14.1663 0 8.33301C2.96403e-08 6.34388 0.790176 4.43623 2.1967 3.02971C3.60322 1.62318 5.51088 0.833008 7.5 0.833008C9.48912 0.833008 11.3968 1.62318 12.8033 3.02971C14.2098 4.43623 15 6.34388 15 8.33301Z"
            fill="#CF0953" />
          <path
            d="M7.5 10.833C8.88071 10.833 10 9.71372 10 8.33301C10 6.9523 8.88071 5.83301 7.5 5.83301C6.11929 5.83301 5 6.9523 5 8.33301C5 9.71372 6.11929 10.833 7.5 10.833Z"
            fill="white" />
        </svg>
        <p class="header__select-item">
          Курск
        </p>
        <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1 1L5 5L9 1" stroke="#6A7181" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </div>
      <div class="header__box">
        <a href="#" class="header__phone">+7 (906) 692-62-05</a>
        <p class="header__box-text">
          или <span class="header__btn" data-graph-path="modal">закажите звонок</span>
        </p>
      </div>
    </div>
  </div>
  <div class="header__nav">
    <div class="container">
      <ul class="list-reset header__list">
        <li class="header__item">
          <a href="/window.html" class="header__link">окна</a>
        </li>
        <li class="header__item">
          <a href="/balconies.html" class="header__link">балконы</a>
        </li>
        <li class="header__item">
          <a href="/ceilings.html" class="header__link">потолки</a>
        </li>
        <li class="header__item">
          <a href="/door.html" class="header__link">двери</a>
        </li>
        <li class="header__item">
          <a href="/contacts.html" class="header__link">контакты</a>
        </li>
      </ul>
    </div>
  </div>
</header>
