<section class="hero">
  <div class="container">
    <div class="hero__content">
      <div class="hero__inner">
        <h1 class="hero__title">
          остекление балконов

          <span>ОТ 24 900 р</span>
        </h1>
        <p class="hero__descr">
          Остекление балконов и лоджий любых видов и сложности.s
          Поможем с выбором идеального варианта!
          Качественные материалы. Опытные мастера!
        </p>
        <div class="hero__form">
          <p class="hero__subtitle">
            Оставьте заявку <br>
            ПРЯМО СЕЙЧАС
          </p>
          <input type="text" name="Имя" class="input-reset hero__input" placeholder="Ваше имя">
          <input type="tel" name="Имя" class="input-reset hero__input" placeholder="+7 (___) ___-__-__">
          <p class="hero__span">Даю согласие на обработку <a href="#" class="hero__link">персональных данных</a></p>
          <button class="btn-reset hero__btn">Получить предложение</button>
        </div>
      </div>
      <img loading="lazy" src="img/hero-3.webp" class="image" width="633" height="623" alt="img">
    </div>
    <ul class="list-reset hero__list">
      <li class="hero__item">
        <img loading="lazy" src="img/hero-list-1.svg" class="image" width="50" height="50" alt="svg">
        Большой выбор
      </li>
      <li class="hero__item">
        <img loading="lazy" src="img/hero-list-2.svg" class="image" width="50" height="50" alt="svg">
        В наличии и на заказ
      </li>
      <li class="hero__item">
        <img loading="lazy" src="img/hero-list-3.svg" class="image" width="50" height="50" alt="svg">
        Гарантия качества
      </li>
      <li class="hero__item">
        <img loading="lazy" src="img/hero-list-4.svg" class="image" width="50" height="50" alt="svg">
      Европейская фурнитура
      </li>
    </ul>
  </div>
</section>
