<section class="hero">
  <div class="container">
    <div class="hero__content">
      <div class="hero__inner">
        <h1 class="hero__title">
          Натяжные потолки
          в курске <span>под ключ</span>
        </h1>
        <p class="hero__descr">
          Натяжные потолки любых видов и сложности.
          Поможем с выбором идеального варианта!
          Качественные материалы. Опытные мастера!
        </p>
        <div class="hero__form">
          <p class="hero__subtitle">
            Оставьте заявку <br>
            ПРЯМО СЕЙЧАС
          </p>
          <input type="text" name="Имя" class="input-reset hero__input" placeholder="Ваше имя">
          <input type="tel" name="Имя" class="input-reset hero__input" placeholder="+7 (___) ___-__-__">
          <p class="hero__span">Даю согласие на обработку <a href="#" class="hero__link">персональных данных</a></p>
          <button class="btn-reset hero__btn">Получить предложение</button>
        </div>
      </div>
      <img loading="lazy" src="img/hero-1.webp" class="image" width="662" height="623" alt="img">
    </div>
    <ul class="list-reset hero__list">
      <li class="hero__item">
        <img loading="lazy" src="img/hero-list-1.svg" class="image" width="50" height="50" alt="svg">
        Бесплатный выезд
        замерщика
      </li>
      <li class="hero__item">
        <img loading="lazy" src="img/hero-list-2.svg" class="image" width="50" height="50" alt="svg">
        Экологично,
        без запаха
      </li>
      <li class="hero__item">
        <img loading="lazy" src="img/hero-list-3.svg" class="image" width="50" height="50" alt="svg">
        Изготовление за 1 день,
        установка за 2 часа
      </li>
      <li class="hero__item">
        <img loading="lazy" src="img/hero-list-4.svg" class="image" width="50" height="50" alt="svg">
        10 лет гарантия на материалы
      </li>
    </ul>
  </div>
</section>
