<div class="graph-modal">
  <div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="modal">
    <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content">
      <p class="graph-modal__subtitle">
        Оставьте заявку
        ПРЯМО СЕЙЧАС
      </p>
      <input type="text" name="Имя" class="input-reset graph-modal__input" placeholder="Ваше имя">
      <input type="tel" name="Имя" class="input-reset graph-modal__input" placeholder="+7 (___) ___-__-__">
      <p class="graph-modal__span">Даю согласие на обработку <a href="#" class="graph-modal__link">персональных данных</a></p>
      <button class="btn-reset graph-modal__btn">Получить предложение</button>
    </div>
  </div>
</div>
