<section class="services">
  <div class="container">
    <h2 class="section-title">
      Услуги
    </h2>
    <div class="services__content">
      <div class="services__item">
        <p class="services__subtitle">
          Установка <br>
          пластиковых
          окон
        </p>
        <p class="services__text">
          85% скидка <br>
          работаем с мат.капиталом <br>
          40 лет гарантии <br>
          рассрочка 0% 12 месяцев
        </p>
        <a href="#" class="services__link">
          <svg width="40" height="20" viewBox="0 0 40 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M23.3848 1L38.0002 10L23.3848 19" stroke="white" stroke-width="2" />
            <path d="M0 10H37.0256" stroke="white" stroke-width="2" />
          </svg>
        </a>
      </div>
      <div class="services__item">
        <p class="services__subtitle">
          Остекление балконов
          и лоджий

        </p>
        <p class="services__text">
          большой выбор <br>
          в наличии и на заказ <br>
          гарантия качества <br>
          европейская фурнитура
        </p>
        <a href="#" class="services__link">
          <svg width="40" height="20" viewBox="0 0 40 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M23.3848 1L38.0002 10L23.3848 19" stroke="white" stroke-width="2" />
            <path d="M0 10H37.0256" stroke="white" stroke-width="2" />
          </svg>
        </a>
      </div>
      <div class="services__item">
        <p class="services__subtitle">
          Натяжные <br> потолки под ключ
        </p>
        <p class="services__text">
          10% скидка <br>
          потолочный карниз <br>
          установка люстры <br>
          обход 4 углов
        </p>
        <a href="#" class="services__link">
          <svg width="40" height="20" viewBox="0 0 40 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M23.3848 1L38.0002 10L23.3848 19" stroke="white" stroke-width="2" />
            <path d="M0 10H37.0256" stroke="white" stroke-width="2" />
          </svg>
        </a>
      </div>
      <div class="services__item">
        <p class="services__subtitle">
          Установка <br> межкомнатных дверей
        </p>
        <p class="services__text">
          10% скидка <br>
          вынос (увеличение балкона или лоджии)
        </p>
        <a href="#" class="services__link">
          <svg width="40" height="20" viewBox="0 0 40 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M23.3848 1L38.0002 10L23.3848 19" stroke="white" stroke-width="2" />
            <path d="M0 10H37.0256" stroke="white" stroke-width="2" />
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>
