<section class="services">
  <div class="container">
    <h2 class="section-title">
      Услуги
    </h2>
    <div class="services__content">
      <a href="#" class="services__item">
        <p class="services__subtitle">
          Установка <br>
          пластиковых
          окон
        </p>
        <p class="services__text">
          85% скидка <br>
          работаем с мат.капиталом <br>
          40 лет гарантии <br>
          рассрочка 0% 12 месяцев
        </p>
      </a>
      <div class="services__item">
        <p class="services__subtitle">
          Остекление балконов
          и лоджий

        </p>
        <p class="services__text">
          большой выбор <br>
          в наличии и на заказ <br>
          гарантия качества <br>
          европейская фурнитура
        </p>
      </div>
      <div class="services__item">
        <p class="services__subtitle">
          Натяжные <br> потолки под ключ
        </p>
        <p class="services__text">
          10% скидка <br>
          потолочный карниз <br>
          установка люстры <br>
          обход 4 углов
        </p>
      </div>
      <div class="services__item">
        <p class="services__subtitle">
          Установка <br> межкомнатных дверей
        </p>
        <p class="services__text">
          10% скидка <br>
          вынос (увеличение балкона или лоджии)
        </p>
      </div>
    </div>
  </div>
</section>
