<section class="stocs">
  <div class="container">
    <div class="stocs__content">
      <h2 class="stocs__title">
        ОКНА — СЕЙЧАС, <br>
        ОПЛАТА — ЧЕРЕЗ МЕСЯЦ
      </h2>
      <p class="stocs__descr">
        рассрочка на 12 месяцев БЕЗ БАНКА
      </p>
      <ul class="list-reset stocs__list">
        <li class="stocs__item">
          0<span>рублей</span>
        </li>
        <li class="stocs__item">
          12<span>месяцев</span>
        </li>
        <li class="stocs__item">
          1<span>выплата</span>
        </li>
      </ul>
    </div>
  </div>
</section>
